COMPOSE_PROJECT_NAME=graduate_work
#-----------------------------------------------------------------------------#

# ugc service

UGC_PROJECT_NAME='UGC MOVIES'
UGC_JWT_KEY=secret_jwt_key
UGC_KAFKA_INSTANCE=broker-1:9092
UGC_DEBUG=True
UGC_MONGO_URL=mongodb://user_name:user_password@mongodb_ugc:27017/prod-db?authSource=admin
UGC_MOCK_AUTH_TOKEN=False

#-----------------------------------------------------------------------------#

# настройки трассировки Jaeger

ENABLE_TRACER=False
JAEGER_HOST_NAME=localhost
JAEGER_PORT=6831
JAEGER_UI_PORT=16686
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST="x-request-id"

#-----------------------------------------------------------------------------#

# общие настройки для брокеров кафки

KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
# по умолчанию данные сохраняются 168 часов (равно 7 дней)
KAFKA_LOG_RETENTION_HOURS=24
KAFKA_LOG_ROLL_HOURS=24
KAFKA_MIN_INSYNC_REPLICAS=1
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_ZOOKEEPER_CONNECT= zookeeper-1:2181
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INSIDE_DOCKER:PLAINTEXT,ON_HOST:PLAINTEXT,INTERNAL:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
KAFKA_BOOTSTRAP_SERVERS=broker-1:9092

#-----------------------------------------------------------------------------#

# настройки etl_ugc

CLICKHOUSE_HOST=clickhouse-node1
ETL_KAFKA_DEBUG=True
ETL_KAFKA_RECORDS_PER_BATCH=1000

#-----------------------------------------------------------------------------#

# настройки sentry

ENABLE_SENTRY=False
SENTRY_DSN=<sentry dsn>
SENTRY_AUTH_TOKEN=<sentry auth token>
SENTRY_ORG=<organization>
SENTRY_PROJECT=<project>
RELEASE_VERSION=ugc-service@1.0.0
ENVIRONMENT=production
#-----------------------------------------------------------------------------#

# auth service

PG_AUTH_HOST=postgres_auth
PG_AUTH_PORT=5432
PG_AUTH_DB_NAME=auth_database
PG_AUTH_USER=app
PG_AUTH_PASSWORD=123qwe
PG_AUTH_DSN=postgresql://${PG_AUTH_USER}:${PG_AUTH_PASSWORD}@${PG_AUTH_HOST}:5432/${PG_AUTH_DB_NAME}

REDIS_AUTH_HOST=redis_auth
REDIS_AUTH_PORT=6379
REDIS_AUTH_DB_NUMBER=0
REDIS_AUTH_PASSWORD=123qwe
REDIS_AUTH_DSN=redis://default:${REDIS_AUTH_PASSWORD}@${REDIS_AUTH_HOST}:6379/${REDIS_AUTH_DB_NUMBER}

AUTH_PROJECT_NAME='AUTH'
AUTH_DEBUG=False

AUTH_SECRET_KEY=secret_key
AUTH_JWT_KEY=secret_jwt_key
AUTH_JWT_COOKIE_SECURE=False
AUTH_RATE_LIMIT=60/minute;5/second
AUTH_OAUTH_CREDENTIALS='{"yandex": {"id": "Y_ID","secret": "Y_SECRET"},"vk": {"id": "VK_ID","secret": "VK_SECRET"}}'
AUTH_SUPERUSER_LOGIN=superuser
AUTH_SUPERUSER_PASSWORD=password
FLASK_APP=manage.py
#-----------------------------------------------------------------------------#

# elastic for etl and backend services

ELK_MOVIES_HOST=elasticsearch_movies
ELK_MOVIES_PORT=9200
ELK_MOVIES_DSN=http://${ELK_MOVIES_HOST}:9200
#-----------------------------------------------------------------------------#

# backend service

BACKEND_PROJECT_NAME='MOVIES'
BACKEND_DEBUG=False
BACKEND_JWT_KEY=secret_jwt_key

REDIS_BACKEND_HOST=redis_backend
REDIS_BACKEND_PORT=16379
REDIS_BACKEND_DB_NUMBER=0
REDIS_BACKEND_PASSWORD=123qwe
REDIS_BACKEND_DSN=redis://default:${REDIS_BACKEND_PASSWORD}@${REDIS_BACKEND_HOST}:6379/${REDIS_BACKEND_DB_NUMBER}
REDIS_BACKEND_MAXMEMORY=100mb
#-----------------------------------------------------------------------------#

# minio

MINIO_USER=user
MINIO_PASSWORD=password
#-----------------------------------------------------------------------------#

# movies admin and db
PG_MOVIES_USER=app
PG_MOVIES_PASSWORD=123qwe
PG_MOVIES_DB_HOST=postgres_movies
PG_MOVIES_DB_PORT=5432
PG_MOVIES_DB_NAME=movies_database

DJANGO_MOVIES_DB_ENGINE=django.db.backends.postgresql
DJANGO_MOVIES_SECRET_KEY=django-insecure-1=25=!68bl_fqayq01d0$=g0cii$y+5#qv$*wd*10arp-r+t(+
DJANGO_MOVIES_HOST='127.0.0.1'
DJANGO_MOVIES_DEBUG=True
DJANGO_MOVIES_PORT=8002

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin

MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_BUCKET_NAME=online-movies
MINIO_ENDPOINT='http://minio0:9000'
